# Visual Studio
.vs/
*.user

# Build outputs
**/bin/
**/obj/

# NuGet packages
*.nupkg
**/packages/
!**/packages/build/

# User-specific settings
*.suo
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
